:root {
  --text-color: rgb(95, 131, 244);
  --bagroung-color: rgb(254, 255, 254);
  --shadow-color: rgb(238, 238, 238);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  color: var(--text-color);
  text-align: center;
}

.container {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bagroung-color);
}

.weather-details {
  height: 80vh;
  width: 80vw;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  padding: 0;
  overflow: none;
}

.current-details {
  display: flex;
  justify-content: space-evenly;
  background-color: var(--bagroung-color);
}

.current-temp {
  background-color: white;
  height: 200px;
  width: 300px;
  border-radius: 10px;
  box-shadow: 10px 10px 10px 10px var(--shadow-color);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 50px;
  transition: ease-in;
}

.current-temp:hover {
  height: 230px;
  width: 330px;
}

.current-weather-details {
  display: flex;
  flex-direction: column;
  background-color: white;
  height: 250px;
  width: 400px;
  border-radius: 10px;
  padding: 50px 20px 50px 20px;
  box-shadow: 10px 10px 10px 10px var(--shadow-color);
  transition: ease-in;
}

.current-weather-details:hover {
  height: 280px;
  width: 430px;
}

.current-weather-details div {
  display: flex;
  justify-content: space-between;
}

.current-weather-details div {
  color: var(--text-color);
}

.forecast {
  background-color: var(--bagroung-color);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}
.forecast-card {
  height: 230px;
  width: 300px;
  margin-left: 50px;
  margin-right: 50px;
  border-radius: 10px;
  box-shadow: 10px 10px 10px 10px var(--shadow-color);
  text-align: center;
  display: flex;
  flex-direction: column;
  transition: ease-in;
}

.forecast-card:hover {
  height: 250px;
  width: 320px;
}

h2 {
  color: var(--text-color);
}

.forecast-card nav {
  background-color: var(--text-color);
  border-radius: 10px;
  margin-bottom: 10px;
  width: 100%;
}
.forecast-card nav h2 {
  color: var(--bagroung-color);
}

.forecastModal {
  display: flex;
  flex-direction: column;
}

.forecastModal nav {
  background-color: var(--text-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.forecastModal nav h2 {
  color: var(--bagroung-color);
}

.forecastModalContainer {
  position: absolute;
  background-color: var(--bagroung-color);
  border: 2px solid var(--text-color);
  box-shadow: 10px 10px 10px 10px var(--shadow-color);
  height: 300px;
  width: 400px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.close {
  background-color: transparent;
  border-color: transparent;
}

.forecastModalContent {
  padding: 10px 10px 10px 10px;
}

.forecastModalContent div {
  display: flex;
  justify-content: space-between;
}

.close-icon {
  margin: 0;
  width: 25px;
  height: 25px;
  color: var(--bagroung-color);
}

.forecastModalContainer div {
  color: var(--text-color);
}

.btn {
  background-color: var(--text-color);
  color: var(--bagroung-color);
  border-radius: 5px;
  border: none;
  outline: none;
  margin-top: 10px;
  font-size: 15px;
  width: 80px;
  height: 25px;
  transition: ease-in;
}

.btn:hover {
  width: 82px;
  height: 27px;
}

@media screen and (max-width: 900px) {
  .weather-details {
    position: absolute;
    left: 45px;
  }

  .current-temp {
    height: 150px;
    width: 200px;
  }

  .current-temp:hover {
    height: 170px;
    width: 230px;
  }
  .current-weather-details {
    height: 200px;
    width: 400px;
    padding: 15px 20px 50px 20px;
    margin-bottom: 40px;
  }

  .current-weather-details:hover {
    height: 230px;
    width: 430px;
  }

  .forecast-card {
    height: 270px;
    width: 250px;
    margin-left: 50px;
    margin-right: 50px;
  }
}

@media screen and (max-width: 800px) {
  .current-temp {
    height: 150px;
    width: 200px;
  }

  .current-temp:hover {
    height: 170px;
    width: 230px;
  }
  .current-weather-details {
    height: 200px;
    width: 400px;
    padding: 15px 20px 50px 20px;
    margin-bottom: 40px;
  }

  .current-weather-details:hover {
    height: 230px;
    width: 430px;
  }

  .forecast-card {
    height: 270px;
    width: 250px;
    margin-left: 50px;
    margin-right: 50px;
  }
}

@media screen and (max-width: 800px) {
  .current-temp {
    height: 150px;
    width: 200px;
  }
  .current-weather-details {
    height: 220px;
    width: 250px;
    padding: 15px 20px 50px 20px;
    margin-bottom: 40px;
  }
}
